body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    background-color: #f4f4f4;
}

a {
    color: #000;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;

}

.header li a {
    display: flex;
    padding: 20px 20px;

    text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
    background-color: #f4f4f4;
    border-radius: 44px;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    background: linear-gradient(258.49deg, #FF51EB 1.12%, #EDE342 94.62%);
}

/* menu */

.header .menu {

    height: 200px;
    display: flex;
    align-items: center;


}

.header .menu-nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 9px;
    gap: 5px;
    justify-content: center;


    /* GRADIENTS/jaune - rose */

    background: linear-gradient(258.49deg, #FF51EB 1.12%, #EDE342 94.62%);
    /* SHADOW 1 */

    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 44px;
}
/* menu icon */




