.menu {
    isplay: flex;
    flex-direction: row;
    align-items: flex-start;


    position: absolute;


    /* GRADIENTS/jaune - rose */

    background: linear-gradient(258.49deg, #FF51EB 1.12%, #EDE342 94.62%);


}

li{


    color: #2F0029;



}